@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Yellowtail&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #A48885;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.headerTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 77px;
}

.header-content {
    display: flex;
    align-items: center;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    color: #fff;
    width: 100%;
}

.header-content img.logo {
    border-radius: 100%;
    height: 80px;
    width: 130px;
    cursor: pointer;
}

.header-content h1 {
    margin: 0;
    cursor: pointer;
    color: white;
    font-family: "Rowdies", sans-serif;
    font-weight: 500;
    align-items: center;
}

.header-content nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 2rem;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.landing h1 {
    font-size: 500%;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    margin: 0;
    color: #A48885;
    position: absolute;
    margin-top: 45px;
}

.landing h3 {
    font-size: 500%;
    font-family: "Yellowtail", cursive;
    font-weight: 300;
    margin: 0;
    color: #D8C5C6;
}

.landing p {
    font-size: 1.25rem;
    margin: 0.5rem 0 2rem 0;
    color: #A48885;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-top: 30px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
}

.btn {
    display: inline-block;
    padding: 20px 30px;
    background-color: #A48885;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    text-align: center;
}

.btn2 {
    display: inline-block;
    padding: 8px 30px;
    background-color: #D8C5C6;
    color: #A48885;
    text-decoration: none;
    border-radius: 40px;
    text-align: center;
}

.photo-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.photo-container {
    position: relative;
    width: 200px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.photo-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(148, 114, 114, 0.6);
    color: #fff;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo-container:hover .photo-caption {
    opacity: 1;
}


/* parte do carrinho!! :D */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #A48885;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.headerTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 130px;
}

.header-content {
    display: flex;
    align-items: center;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    color: #fff;
    width: 100%;
}

/* .header-content img.logo {
    border-radius: 100%;
    height: 80px;
    width: 80px;
    cursor: pointer;
} */

.header-content h1 {
    margin: 0;
    cursor: pointer;
    color: white;
    font-family: "Rowdies", sans-serif;
    font-weight: 500;
    align-items: center;
}

.header-content nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.headerTitle a {
    text-decoration: none;
}

main.cart {
    padding: 32px;
    text-align: center;
}

main.cart h1 {
   /* font-size: 64px;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    margin-bottom: 32px;
    color: #A48885;*/
}

.cart-items {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cart-item {
    text-align: center;
    width: 180px;
}

.cart-item img {
    width: 100%;
    border-radius: 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
}

.cart-item p {
    margin: 8px 0;
    color: #A48885;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
}

#yourNormal {
    font-size: 64px;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    margin-bottom: 32px;
    color: #A48885;
}

#cartCursiva {
    font-family: "Yellowtail", cursive;
    font-weight: 300;
    color: #A48885;
}


/*parte dos livrossss :D*/

.books {

    text-align: center;
}

.books h1 {
    font-size: 64px;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
    color: #A48885;
}


.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.search-bar input {
    width: 50%;
    padding: 8px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #A48885;
    outline: none;
    font-family: "Titillium Web", sans-serif;
}

.book-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.book-container {
    width: 200px;
    height: 400px;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;
}

.book-container img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    margin-top: 10px;
}


.book-container p {
    margin: 8px 0;
    color: #A48885;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    text-align: center;
}

.book-container:hover,
.cart-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}


.book-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 100px;

}


.add-to-cart {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #D8C5C6;
    color: #A48885;
    border: none;
    border-radius: 4px;
    margin-left: 15px;
    
}

.add-to-cart:hover {
    background-color: #A48885;
    color: #D8C5C6;
}

.books {
    text-align: center;
}

#ourNormal {
    font-size: 64px;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
    color: #A48885;
}

#booksCursiva {
    font-family: "Yellowtail", cursive;
    font-weight: 300;
    color: #A48885;
}


footer {
    text-align: center;
    padding: 16px 0;
    background: rgba(255, 255, 255, 0.9);
    color: #1d1d1f;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14.4px;
}